html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
	  .control-left-wrapper{
		z-index: 0;
		position: absolute;
		left: 0;
		top: 60px;
		cursor: pointer;
		margin: 14px 10px 0;
	  }
	  
	  .control-left-wrapper .zoom-in,
	  .control-left-wrapper .zoom-out,
	  .control-left-wrapper .current-location{
		background: green;
		padding: 8px;
		font-size: 18px;
		color: white;
		margin-bottom: 5px;
	  }
	  